   #content {
      margin-left: 300px;
      font-size: 20px;
      width: 900px;
      height: 900px;
      margin-right: 0px;
  }

  #Description p, #Brewing p, #characs div {
      border: 2px solid #333;
      padding: 10px;
  }

  #characs li {
    color: cadetblue;
  }

  #image {
    float: right;
    margin-right: 220px;
    width: 400px;
    height: 300px;
    margin-top: 80px;
  }

  body {
    background-color: #efebe9;
  }


  
  

  
